@model List<ThePerfumeShop.Models.KhachHang>

@{
    ViewData["Title"] = "Danh sách khách hàng";
}
<div class="card">
    <div class="card-header">
        <strong class="card-title">Danh sách khách hàng</strong>
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Họ tên</th>
                    <th>Ngày Sinh</th>
                    <th>Giới tính</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaKh</td>
                            <td>@item.TenKh</td>
                            <td>@String.Format("{0:MM/dd/yyyy}",item.Ngaysinh)</td>
                            <td>@item.Gioitinh</td>
                            <td>@item.Sdt</td>
                            <td>@item.Diachi</td>
                        </tr>
                    }
            </tbody>
        </table>
        }
        else
        {
            <h4>Chưa có bản ghi nào</h4>
        }
    </div>
</div>


