@model IEnumerable<ThePerfumeShop.Models.DataView.ThemNhanVien>
@{
    ViewData["Title"] = "Thêm nhà nhân viên";
}

<div class="card">
    <div class="card-header"><strong>Thêm nhân viên</strong></div>
    <div class="card-body card-block">
        <form action="/nhanvien/create/@ViewBag.MaCH" method="post" asp-antiforgery="true">
            <input type="hidden" name="MaCh" value="@ViewBag.MaCH" />
            <div class="form-group">
                <label for="TenNv" class=" form-control-label">Tên nhân viên</label>
                <input type="text" name="TenNv" class="form-control">
                <span asp-validation-for="@Model.FirstOrDefault().TenNv" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label for="Gioitinh" class=" form-control-label">Giới tính</label>
                    <select class="form-control" name="Gioitinh">
                       <option value="Nam">Nam</option>
                       <option value="Nu">Nữ</option>     
                    </select>        
             </div>
             <div class="form-group">
                <label for="Ngaysinh" class=" form-control-label">Ngày sinh</label>
                <input type="date" name="Ngaysinh" class="form-control" />
                <span asp-validation-for="@Model.FirstOrDefault().Ngaysinh" class="text-danger"></span>
             </div>
            <div class="form-group">
                <label for="Sdt" class=" form-control-label">Số điện thoại</label>
                <input type="tel" name="Sdt" class="form-control">
                <span asp-validation-for="@Model.FirstOrDefault().Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label for="Diachi" class=" form-control-label">Địa chỉ</label>
                 <input type="text" name="Diachi" class="form-control">
             </div>
             <div class="form-group">
                <label for="TenDN" class=" form-control-label">Tài khoản</label>
                <input type="text" name="TenDN" class="form-control">
                <span asp-validation-for="@Model.FirstOrDefault().TenDN" class="text-danger"></span>
             </div>
            <div class="form-group">
                <label for="Matkhau" class=" form-control-label">Mật khẩu</label>
                        <input type="text" name="Matkhau" class="form-control" />
                        <span asp-validation-for="@Model.FirstOrDefault().Matkhau" class="text-danger"></span>
            </div>
             <div class="form-group">
                <a href="/cuahang/danhsachnhanvien/@ViewBag.MaCH" class="btn btn-outline-primary mt-4"><i class="fa fa-arrow-left"></i> &nbsp; Trở về</a>
                <input type="submit" name="submit" class="btn btn-info mt-4" value="Thêm" />
             </div> 
                    @*<input type="hidden" name="MaCh" value="@ViewBag.MaCH" />
                    <div class="form-group">
                        <label for="TenNv" class=" form-control-label">Tên nhân viên</label>
                        <input type="text" name="TenNv" class="form-control">
                        <span asp-validation-for="@Model.FirstOrDefault().TenNv" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Gioitinh" class=" form-control-label">Giới tính</label>
                        <select class="form-control" name="Gioitinh">
                            <option value="Nam">Nam</option>
                            <option value="Nu">Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Ngaysinh" class=" form-control-label">Ngày sinh</label>
                        <input type="date" name="Ngaysinh" class="form-control" />
                        <span asp-validation-for="@Model.FirstOrDefault().Ngaysinh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Sdt" class=" form-control-label">Số điện thoại</label>
                        <input type="tel" name="Sdt" class="form-control">
                        <span asp-validation-for="@Model.FirstOrDefault().Sdt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Diachi" class=" form-control-label">Địa chỉ</label>
                        <input type="text" name="Diachi" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="TenDN" class=" form-control-label">Tài khoản</label>
                        <input type="text" name="TenDN" class="form-control">
                        <span asp-validation-for="@Model.FirstOrDefault().TenDN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Matkhau" class=" form-control-label">Mật khẩu</label>
                        <input type="text" name="Matkhau" class="form-control" />
                        <span asp-validation-for="@Model.FirstOrDefault().Matkhau" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a href="/cuahang/danhsachnhanvien/@Model.FirstOrDefault().MaCh" class="btn btn-outline-primary mt-4"><i class="fa fa-arrow-left"></i> &nbsp; Trở về</a>
                        <input type="submit" name="submit" class="btn btn-info mt-4" value="Thêm" />
                    </div>*@
        </form>
    </div>
</div>

